<body ng-app="tablePlunker" style="margin: 10px;">

    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="display-3 text-center text-white mt-4">Let's Adventure</h2>
                    <h4 class="text-center text-white mt-4">Organize an itinerary based on your location and
                        preferences</h4>
                </div>

                <div class="buisness-header align-bottom">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input #wordToSearchFor type="text" class="form-control" placeholder="Enter a city, state...">
                            <div class="row">
                                <div class="col">
                                    <div ngbDropdown class="d-inline-block">
                                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{
                                            displayMessage }}</button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                            <div *ngFor="let option of sortOptions">
                                                <button class="dropdown-item" id="option" on-click="onDropDownSelect(option)">{{option}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-outline-primary" (click)="onButtonClick(wordToSearchFor.value)">
                                <span class="glyphicon glyphicon-search">Submit</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <div ng-controller="GridController">
        <ng-container *ngIf="show">
            <div class="row">
                <div class="col-sm-6">
                    <br>
                    <h2>Potential Destinations</h2>
                    <!-- <ng-template ngFor let-size [ngForOf]='response.groups'>
                    <h3 *ngFor="let num of size.items; let i=index">{{ num }}</h3>
                    </ng-template> -->
                    <div class="table-responsive" *ngIf='events'>
                        <table ng-table="tableParams" class="table ng-table-rowselected table-hover table-condensed table-striped table-responsive">
                            <ng-template ngFor let-group [ngForOf]='events.response.groups'>
                                <tr class="emphasis" *ngFor="let place of group.items; let i=index;" draggable="true" (dragstart)="drag($event)"
                                    [dragData]="place">
                                    <span class="name" data-title="'Place'">{{ place.venue.name}}</span><br>
                                    <span data-title="'Address'">{{ place.venue.location.address }} </span><br>
                                    <span data-title="'Category'" *ngFor="let category of place.venue.categories">
                                        {{ category.name }}
                                    </span>
                                </tr>

                            </ng-template>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div droppable (onDrop)="onItemDrop($event)">
                        <br>
                        <h2>Your Itinerary</h2>
                        <div>
                            <br>
                        </div>
                        <div class="panel-body">
                            <div *ngFor="let tripEvent of all_tripEvents" class="list-group-item" draggable="true"
                                [dragData]=tripEvent>
                                <p> {{ tripEvent.name }}</p>
                                <p>{{ tripEvent.address }}</p>
                            </div>
                        </div>
                    </div>
                    <button class="button submit">Submit</button>
                    <ng-container *ngIf="show">
                        <div *ngIf='droppedItems.length' droppable (onDrop)="onItemDelete($event)">
                            <h2>Delete items from itinerary</h2>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</body>