<h1>
  itinerary-data works!
</h1>
 <ng-container>
  <div class="table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>Response</th>
                  <th>Address</th>
                  <th>Distance</th>
                  <th>Category</th>
              </tr>
          </thead>
          <ng-template ngFor let-group [ngForOf]='events.response.groups'>
          <tr *ngFor="let event of group.items">
              <td> {{ event.venue.name }}</td>
              <td> {{ event.venue.location.address }} </td>
              <td> {{ event.venue.categories }}</td>
              <td> {{ event.venue.categories.name }}</td>
          </tr>
        </ng-template>
      </table>
  </div>
</ng-container>