.search_bar{
    position: absolute;
    bottom: 0;
    left: 0;
}

.map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

table {
    border-collapse: collapse;
}

tr { 
    border: dotted;
    border-width: 4px 0;
}

.name{
    font-size: 120%;
    font-weight: bold;
}

.business-header {
    height: 50vh;
    min-height: 400px;
    background: url('./travel-2081174_960_720.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table; 
    clear: both;
}

.ng-table tr.emphasis {
    background: #DDD;
    background-color: #DDD;
    font-weight: bold;
    border-bottom: dotted;
    border-color: black;
}

.ng-table-rowselected tr {
    cursor: pointer;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
    border:4;
    background: #e6ffff;
}

.submit {
    background-color: green;
    color: white;
}

.trash {
    background-color: red;
    color: white;
}

.submit-content{
    display: none;
}

.trash-content{
    display:none;
}

/* On mouse-over */
.submit:hover .submit-content {
    background: #eee;
    color: black;
    display: block;
}

.trash:hover .trash-content{
    background: #eee;
    color: black;
    display: block;
}

.itin_num{
    font-size: 200%;
    color: purple;
}