<div class="intro-content py-6 text-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto text-center">
        <h1 class="my-3 display-4 d-none d-lg-inline-block">Travel Express</h1>
        <span class="h1 my-3 d-inline-block d-lg-none">Robust UI Kit</span>
        <p class="lead mb-3">Travel Express makes planning your next trip easier.</p>
      </div>
    </div>
  </div>
</div>

<main class="main" role="main">
  <div class="bg-white py-7">
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="row">
            <div class="col-md-4 ml-auto">
              <h2>Itineraries made easy.</h2>
            </div>
            <div class="col-md-6 mr-auto">
              <p class="lead text-dark">
                Find restaurants, attractions, and more located at the travel destination of your choice.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--types of events here???-->
      <div class="row pt-5">
        <div class="col-md-4">
          <div>
            <a href="pages-landing.html" class="link-unstyled">
              <img src="img/demos/landing-2.png" class="img-fluid shadow-sm" alt="Landing">
            </a>
            <h5 class="mt-4">Pick a destination</h5>
            <p>
              Make your app look outstanding between the crowd using our wide variety of page components.
            </p>
            <p>
              <a href="pages-landing.html">Explore Pages ›</a>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <a href="pages-dashboard.html" class="link-unstyled">
              <img src="img/demos/social-2.png" class="img-fluid shadow-sm" alt="Dashboard">
            </a>
            <h5 class="mt-4">Explore a Location</h5>
            <p>
              Create the best possible user experience for your customers using our app components.
            </p>
            <p>
              <a href="pages-dashboard.html">Explore Pages ›</a>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <a href="pages-general.html" class="link-unstyled">
              <img src="img/demos/careers.png" class="img-fluid shadow-sm" alt="Pages">
            </a>
            <h5 class="mt-4">Select Your Events</h5>
            <p>
              Discover our wide variety of pages including blog, about, contact and error pages.
            </p>
            <p>
              <a href="pages-general.html">Explore Pages ›</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light pt-6">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mr-auto align-self-center mb-5">
          <div class="my-4">
            <h3>Explore a Location</h3>
            <p class="text-dark">
              Find the hotspots in your next travel destination.
            </p>
          </div>
          <div class="my-4">
            <h3>Select Your Events</h3>
            <p class="text-dark">
              Create and save multiple itineraries.  Add things to do and places to visit during your trip. 
            </p>
          </div>
        </div>
        <div class="col-md-5 ml-auto mt-4">
          <img src="img/ipad.png" class="img-fluid" alt="iPad">
          <!-- Insert screenshot of our itinerary page-->
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-7">
    <div class="container">

      <div class="row mb-6">
        <div class="col-md-3 ml-auto">
          <h2>Explore a Location</h2>
          <p class="text-dark">
            Find the hotspots in your next travel destination.
          </p>
        </div>
        <div class="col-md-5 mr-auto">
          <p class="lead text-dark">
            Insert pic here
          </p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-4">
          <div class="media">
            <div class="icon mr-3">
              <i class="far fa-id-badge"></i>
            </div>
            <div class="media-body">
              <h3 class="h4">Responsive</h3>
              <p class="text-dark text-left">
                With mobile, tablet &amp; desktop support it doesn't matter what device you're using. Robust is responsive in all browsers.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media">
            <div class="icon mr-3 bg-warning">
              <i class="far fa-hand-scissors"></i>
            </div>
            <div class="media-body">
              <h3 class="h4">Customizable</h3>
              <p class="text-dark text-left">
                You don't need to be an expert to customize Robust. Our code is very readable and well documented.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media">
            <div class="icon mr-3 bg-danger">
              <i class="far fa-comments"></i>
            </div>
            <div class="media-body">
              <h3 class="h4">Quick support</h3>
              <p class="text-dark text-left">
                Robust is supported by specialists who provide quick and effective support. Usually an email reply takes &lt;24h.
              </p>
            </div>
          </div>
        </div>
      </div><!-- /.row -->

      <div class="row mt-5">
        <div class="col-md-4">
          <div class="media">
            <div class="icon mr-3 bg-success">
              <i class="far fa-clone"></i>
            </div>
            <div class="media-body">
              <h3 class="h4">Cross browser</h3>
              <p class="text-dark text-left">
                Robust works perfectly with: Chrome, Firefox, Safari, Opera and IE 10+. We're working hard to support them.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media">
            <div class="icon mr-3 bg-purple">
              <i class="far fa-gem"></i>
            </div>
            <div class="media-body">
              <h3 class="h4">Clean code</h3>
              <p class="text-dark text-left">
                We strictly followed Bootstrap's guidelines to make your integration as easy as possible. All code is handwritten.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media">
            <div class="icon mr-3">
              <i class="far fa-arrow-alt-circle-down"></i>
            </div>
            <div class="media-body">
              <h3 class="h4">Free updates</h3>
              <p class="text-dark text-left">
                From time to time you'll receive an update containing new components, improvements and bugfixes.
              </p>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div>
  </div>

  <div class="py-6 bg-primary text-white">
    <div data-flickity="{ &quot;prevNextButtons&quot;: false, &quot;wrapAround&quot;: true}" class="flickity-light-dots flickity-enabled is-draggable" tabindex="0">
      
      
      
    <div class="flickity-viewport" style="height: 180px; touch-action: pan-y;"><div class="flickity-slider" style="left: 0px; transform: translateX(0%);"><div class="carousel-cell is-selected" aria-selected="true" style="position: absolute; left: 0%;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="media">
                <img src="img/avatars/1.jpg" alt="Avatar" class="img-fluid rounded-circle mr-4" style="max-width:128px;">
                <div class="media-body">
                  <blockquote class="h3 mt-3 font-weight-normal">
                    “I can only recommend both this theme and the competent developer behind it to other people. Quick &amp; helpful support! ”
                  </blockquote>
                  <span>Jane Roe</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="carousel-cell" aria-selected="false" style="position: absolute; left: 100%;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="media">
                <img src="img/avatars/2.jpg" alt="Avatar" class="img-fluid rounded-circle mr-4" style="max-width:128px;">
                <div class="media-body">
                  <blockquote class="h3 mt-3 font-weight-normal">
                    “I can only recommend both this theme and the competent developer behind it to other people. Quick &amp; helpful support! ”
                  </blockquote>
                  <span>John Roe</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="carousel-cell" aria-selected="false" style="position: absolute; left: 200%;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="media">
                <img src="img/avatars/3.jpg" alt="Avatar" class="img-fluid rounded-circle mr-4" style="max-width:128px;">
                <div class="media-body">
                  <blockquote class="h3 mt-3 font-weight-normal">
                    “I can only recommend both this theme and the competent developer behind it to other people. Quick &amp; helpful support! ”
                  </blockquote>
                  <span>Jane Roe</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div></div></div><ol class="flickity-page-dots"><li class="dot is-selected" aria-label="Page dot 1" aria-current="step"></li><li class="dot" aria-label="Page dot 2"></li><li class="dot" aria-label="Page dot 3"></li></ol></div>
  </div>

  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="row">
            <div class="col-md-4 ml-auto">
              <h2>Integrates with all<br> your favorite tools</h2>
            </div>
            <div class="col-md-6 mr-auto">
              <p class="lead text-dark">
                Robust uses industry standard build tools and plugins such as Sass, jQuery, Webpack, Babel and npm. All source files and compiled files are included inside the package.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Page Content -->
<section class="py-5">
  <div>
    <router-outlet></router-outlet>
  </div>
</section>