<section class="py-5" class="w-100">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img [src]="images[0]" class= "center" class="w-100" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Welcome back, USER</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]" class= "center" class="w-100" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Welcome back, USER</h3>
        <p>This carousel doesn't pause or resume on mouse events</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2]" class= "center" class="w-100" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Welcome back, USER</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[3]" class= "center" class="w-100" alt="Random fourth slide">
      <div class="carousel-caption">
        <h3>Welcome back, USER</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>


</section>

<!-- Page Content -->
<section class="py-5">
  <div>
    <router-outlet></router-outlet>
  </div>
</section>