<table class="table">
  <thead class="h">
    <tr class="h">
      <th class="h">Title</th>
      <th class="h">Description</th>
      <th class="h">Events</th>
      <th class="h">Date</th>
      <th class="h">Status</th>
      <th class="h">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr class="itinerary" (dblclick)="editItinerary(itinerary)" *ngFor="let itinerary of existingItinerarys">

      <ng-container *ngIf="!editItinerarys.includes(itinerary); else editTD">
        <td>{{itinerary.title}}</td>
        <td>{{itinerary.description}}</td>
        <td *ngFor="let tripEvent of itinerary.all_tripEvents">
          {{tripEvent.name}}
        </td>
        <td>{{itinerary.date | date}}</td>
        <td>{{itinerary.status}}</td>
      </ng-container>

      <ng-template #editTD>
        <td><input type="text" name="title" id="title" (keypress)="submitItinerary($event, itinerary)" [(ngModel)]="itinerary.title"
            placeholder="Title" class="form-control"></td>
        <td><input type="text" name="description" id="description" (keypress)="submitItinerary($event, itinerary)"
            [(ngModel)]="itinerary.description" placeholder="Description" class="form-control"></td>
        <td>{{itinerary.date | date}}</td>
        <td>
          <input type="text" name="status" id="status" (keypress)="submitItinerary($event, itinerary)" [(ngModel)]="itinerary.status"
            placeholder="Status" class="form-control">
        </td>
      </ng-template>

      <td class="o">
        <button class="btn btn-success" (click)="doneItinerary(itinerary)" button title="Submit Itinerary">
          <i class="fa fa-check"></i>
        </button>
        <button class="btn btn-primary" (click)="editItinerary(itinerary)" button title="Edit Itinerary">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="btn btn-danger" (click)="deleteItinerary(itinerary)" button title="Delete Itinerary">
          <i class="fa fa-trash"></i>
        </button>
      </td>

    </tr>
  </tbody>
  <tbody *ngFor="let itinerary of existingItinerarys">

  </tbody>
</table>