<div class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="title display-3 text-gray text-shadow mt-4">Meet the Team</h2>
                <h4 class="text-gray text-shadow mt-4">The developers behind Travel Express</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../assets/images/monica.png" class="align-items-center">
            <div class="overlay">
                <h2>Monica Mooney</h2>
                <p class="icon-links">
                    <a href="https://www.linkedin.com/in/monica-mooney-001612126/" target="_blank">
                        <span class="fa fa-linkedin-square"></span>
                    </a>
                    <a href="mailto:momooney@udel.edu">
                        <span class="fa fa-envelope-square"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../assets/images/brittany.png" class="align-items-center">
            <div class="overlay">
                <h2>Brittany Pham</h2>
                <p class="icon-links">
                    <a href="https://www.linkedin.com/in/brittany-pham-04812a127/" target="_blank">
                        <span class="fa fa-linkedin-square"></span>
                    </a>
                    <a href="mailto:bpham@udel.edu">
                        <span class="fa fa-envelope-square"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../assets/images/logan.png" class="align-items-center">
            <div class="overlay">
                <h2>Logan Muir</h2>
                <p class="icon-links">
                    <a href="https://www.linkedin.com/in/logan-muir-9b835b150/" target="_blank">
                        <span class="fa fa-linkedin-square"></span>
                    </a>
                    <a href="mailto:logmuir@udel.edu">
                        <span class="fa fa-envelope-square"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../assets/images/maaz.png" class="align-items-center">
            <div class="overlay">
                <h2>Maaz Nasir</h2>
                <p class="icon-links">
                    <a href="https://www.linkedin.com/in/maaz-nasir-a4846b108/" target="_blank">
                        <span class="fa fa-linkedin-square"></span>
                    </a>
                    <a href="mailto:maazn@udel.edu">
                        <span class="fa fa-envelope-square"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../assets/images/rj.png" class="align-items-center">
            <div class="overlay">
                <h2>RJ Bowen</h2>
                <p class="icon-links">
                    <a href="https://www.linkedin.com/in/rjbowen97/" target="_blank">
                        <span class="fa fa-linkedin-square"></span>
                    </a>
                    <a href="mailto:rjbowen@udel.edu">
                        <span class="fa fa-envelope-square"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../assets/images/eric.png" class="align-items-center">
            <div class="overlay">
                <h2>Eric Kurtz</h2>
                <p class="icon-links">
                    <a href="https://www.linkedin.com/in/eric-kurtz-68b8bb152/" target="_blank">
                        <span class="fa fa-linkedin-square"></span>
                    </a>
                    <a href="mailto:ekurtz@udel.edu">
                        <span class="fa fa-envelope-square"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<section class="py-5">
    <div>
        <router-outlet></router-outlet>
    </div>
</section>